src/main/app/sam1234.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:sqlserver://A4LNKML17080;database=myown;user=sa;password=Admin123!;instanceName=Bizsql;" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" doc:name="Generic Database Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8088" doc:name="HTTP Listener Configuration"/>
    <flow name="tabletypeflow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/tabletype" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="records" value="#[new com.microsoft.sqlserver.jdbc.SQLServerDataTable();]" doc:name="Variable"/>
        <expression-component doc:name="create-records"><![CDATA[records.addColumnMetadata("Title" ,java.sql.Types.NVARCHAR); 
records.addColumnMetadata("Suffix" ,java.sql.Types.NVARCHAR); 
records.addColumnMetadata("CompanyName" ,java.sql.Types.NVARCHAR); 
records.addColumnMetadata("SalesPerson" ,java.sql.Types.NVARCHAR); 
records.addColumnMetadata("EmailAddress" ,java.sql.Types.NVARCHAR); 
records.addColumnMetadata("PasswordHash" ,java.sql.Types.NVARCHAR); 
records.addColumnMetadata("PasswordSalt" ,java.sql.Types.NVARCHAR); 

records.addRow('Dr', 'Hr', 'Mindtr', 'pup', 'helll', '', '');  ]]></expression-component>
        <db:stored-procedure config-ref="Generic_Database_Configuration" doc:name="Connect-azure-sqlserver-db">
            <db:parameterized-query><![CDATA[{CALL fetchtblCusomters(:tblcustomers )}]]></db:parameterized-query>
            <db:in-param name="tblcustomers" value="#[flowVars.records]"/>
        </db:stored-procedure>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
